@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	vertical-align:baseline;
	list-style:none;
	text-decoration:none;
}
input{ outline:none;}
*{margin:0;padding:0;}
body{font-size:12px;color:#000000;font-family:"微软雅黑";background:#ffffff;width:1200px;margin:0 auto;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{zoom:1;}
ul,li{list-style:none;}
img{border:0;}
.wrapper{margin-left:187px;width:784px;height:422px;display:block;float:left;}
a{ text-decoration:none;color:#000000;}
.clear{clear:both;border:none;margin:0;padding:0;font-size:0;}
.mTop90{margin-top:90px;}
.mTop25{margin-top:25px;}
.mBottom{margin-bottom:5px;}
.bc{background-color:#cb2943;}
.cf{color:#ffffff;}
.bce5{background:#e5e5e5;}
.cb{color:#cb2943;}
.c28{color:#288c29;}
/* focus */
#focus{max-width:784px;overflow:hidden;position:relative;}
#focus ul{height:422px;overflow:hidden;position:absolute;}
#focus ul li{float:left;max-width:784px;height:422px;overflow:hidden;position:relative;}
#focus ul li img{display:block;width:784px;height:422px;float:left;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:784px;height:20px;left:0;bottom:0;}
#focus .btn{position:absolute;width:764px;height:10px;padding:10px 10px;right:0;bottom:0;text-align:center;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:20px;height:8px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:10px;}
#focus .btn span.on{background:#F00;width:35px;}

.foot{width:100%;border-top:2px solid #c9c9c9;clear:both;margin-top:50px;padding-top:5px;padding-bottom:50px;height:auto;overflow:hidden;}
.foot dl{width:270px;height:150px;border-right:1px solid #c9c9c9;text-align:center;display:block;float:left;}
.foot dl dt{font-size:21px;line-height:35px;}
.foot dl dd{line-height:25px;font-size:15px;}
.foot dl dd a{color:#000000;}
.foot dl dd a:hover{color:#666666;}
.foot div{display:block;width:385px;text-align:center;padding-top:45px;font-size:19px;line-height:40px;float:right;}
.foot div a{display:block;width:130px;height:35px;line-height:35px;color:#ffffff;text-align:center;background:#cb2943;margin:0 auto;}

.fanhui{display:block;text-align:right;font-size:21px;clear:both;padding-top:20px;}
.fanhui a{color:#cb2943;}
.floatDiv{width:1060px;height:auto;overflow:hidden;clear:both;display:block;margin:0 auto;}
.dkuang{width:536px;height:auto;overflow:hidden;border:1px solid #c9c9c9;border-radius:5px;display:block;float:right;padding-bottom:80px;}
.dkuang  li{height:42px;padding-top:16px;padding-left:50px;}
.dkuang label{font-size:24px;display:inline-block;margin-left:30px;width:106px} 
.dkuang input{width:252px;height:42px;border:1px solid #c9c9c9;font-size:24px;color:#8a8a8a;}
.dkuang  li.clu label{font-size:17px;margin-left:5px;display:inline-block;}
.dkuang  li.clu input{width:15px;height:15px;margin-left:100px;display:inline-block;}
.dkuang  li.clu a{display:inline-block;margin-left:100px;font-size:17px;color:#cb2943;}
.dkuang  li.rr{height:90px;}
.dkuang  li.rr span,.dkuang  li:nth-child(4) label.hu{display:block;float:left;}
.dkuang  li.rr span label{display:block;font-size:17px;}
.dkuang  li.rr span:first-child{margin-left:80px;}
.dkuang  li.rr label.hu{width:116px;height:50px;color:#ffffff;text-align:center;line-height:50px;background:#cb1943;border-radius:8px;margin-left:10px;cursor:pointer;}
.dkuang  li:last-child{width:350px;line-height:42px;margin:0 auto;padding-top:0;cursor:pointer;padding-left:0;}
.mfot{width:100%;padding-top:80px;padding-bottom:80px;text-align:center;}
.mfot h1{font-size:20px;line-height:40px;}
.dkuang li.yanma input{width:90px;height:42px;}
.dkuang li.yanma label img{height:100%;}


.top{height:126px;width:100%;position:relative;z-index:10;}
.top a.logo{display:block;float:left;margin-top:20px;}
.top ul.tsec{display:block;float:left;margin-left:220px;margin-top:45px;position:relative;}
.top ul.tsec li{display:block;float:left;position:relative;line-height:38px;text-align:center;font-size:18px;width:120px;height:38px;border:1px solid #cb2943;cursor:pointer;margin-right:2px;}
.top ul.tsec li.nth b{color:#cb2943;padding-left:15px;}
.top ul.tsec li.nth ul{position:absolute;left:-1px;top:38px;width:120px;border:1px solid #cb2943;display:none;}
.top ul.tsec li.nth ul li{height:32px;text-align:center;line-height:32px;font-size:16px;position:relative;border:none;display:block;border-bottom:1px solid #cb2943;background:#ffffff;}
.top ul.tsec li.nth ul li:last-child{border-bottom:none;}
.top ul.tsec li.nth ul li a{color:#717171;}
.top ul.tsec li.nth ul li a:hover{color:#000000;}
.top ul.tsec li.nth1 {width:230px;height:38px;border:1px solid #cb2943;}
.top ul.tsec li.nth1 input{width:230px;height:38px;border:none;text-align:center;font-size:18px;color:#000000;}
.top ul.tsec li.nth2{width:70px;height:40px;border:none;margin-left:6px;}
.top ul.tsec li.nth2 input{border:none;background:#cb2943;color:#ffffff;text-align:center;line-height:40px;width:70px;font-size:16px;font-family:"微软雅黑";border-radius:3px;cursor:pointer;}
.top ul.tsec li.nth3{width:128px;height:32px;border:1px solid #919091;font-size:14px;line-height:32px;margin-top:4px;margin-left:38px;}
.top ul.tsec li.nth3 img{display:block;float:right;margin:5px;}
.top ul.tsec li.nth3 span{display:block;position:absolute;width:20px;height:20px;border-radius:180px;background:#cb2943;color:#ffffff;text-align:center;line-height:20px;right:10px;top:-15px;}

.navbar{width:100%;height:54px;position:relative;z-index:3;overflow:hidden;}
.navbar .nav-right{position:relative;background:#cb2943;width:100%;height:54px;display:block;}
.navbar .nav-right li{width:104px;display:inline-block;font-size:19px;text-align:center;line-height:54px;}
.navbar .nav-right li.dthis{background:#ae152e;font-size:21px;}
.navbar .nav-right li a{color:#ffffff;}
.navbar .nav-right li:first-child{margin-left:187px;}
.navbar .nav-right li:hover{background:#ae152e;}


.zuoleft{position:relative;width:180px;height:auto;margin-top:-54px;z-index:10;display:block;float:left;}
.zuoleft .nav-left{position:relative;width:180px;z-index:2;height:auto;}
.zuoleft .nav-left dt{width:180px;height:54px;font-size:19px;line-height:54px;}
.zuoleft .nav-left dt a{position:relative;display:block;color:#ffffff;width:180px;text-align:center;}
.zuoleft .nav-left div.ddp{position:relative;}
.zuoleft .nav-left dd{border:2px solid #c9c9c9;border-top:none;width:176px;height:58px;cursor:pointer;background:ffffff;z-index:2;}
.zuoleft .nav-left dd div {height:396px;position:absolute;left:179px;top:0;width:500px;padding:10px 20px;background:#ffffff;display:none;border:2px solid #c9c9c9;border-left:none;}
.zuoleft .nav-left dd:hover{border-right:none;}
.zuoleft .nav-left dd a.biao{padding-top:18px;color:#ae152e;position:relative;}
.zuoleft .nav-left dd a.biao,.zuoleft .nav-left dd a.bao{display:block;width:80%;text-align:left;line-height:20px;padding-left:10%;}
.zuoleft .nav-left dd span{display:block;position:absolute;color:#ae152e;right:0px;top:18px;font-size:20px;}
.zuoleft .nav-left dd div ul li{display:block;float:left;margin-right:20px;line-height:30px;}

.zuoleft .duoxuan{position:relative;margin-top:15px;width:158px;border:1px solid #c9c9c9;padding:15px 10px;}
.duoxuan dl{display:block;position:relative;margin-bottom:20px;}
.duoxuan dl dt{font-size:17px;color:#cb2943;margin-bottom:10px;}
.duoxuan dl dd{height:30px;font-size:16px;}
.duoxuan dl dd input{display:block;float:left;margin-right:8px;margin-top:6px;}

.youright{width:1010px;display:block;float:right;}
.touimg{width:1010px;height:138px;margin-top:8px;margin-bottom:10px;}
.touimg img{width:1010px;height:138px;}
.youright .sec1,.youright .sec2{width:1010px;border:1px solid #d9d9d9;height:46px;line-height:46px;font-size:12px;}

.youright .sec1 label,.youright .sec2 label{padding-left:10px;padding-right:10px;position:relative;z-index:5;}
.youright .sec1 a{color:#cb2943;}
.youright .sec1 input.txt{width:120px;height:27px; outline:none;border:1px solid #d9d9d9;}
.youright .sec1 input.btnt{background:url(../img/fd.png) no-repeat center;width:27px;height:27px;border:1px solid #d9d9d9; outline:none;cursor:pointer;border-left:none;}
.youright .sec2 input{width:120px;height:27px; outline:none;border:1px solid #d9d9d9; text-align:center;}
.youright .sec2 input.i{height:46px;border:none;border-right:1px solid #d9d9d9;margin-left:40px;margin-right:40px;line-height:46px;width:1px;}
.youright .sec2 input.lei{width:27px;height:27px;background:none;border-left:none;color:#cb2943;font-size:14px; text-align:center;line-height:27px;outline:none;}
.youright .sec2 span{position:relative;width:150px;display:inline-block;height:46px;}
.youright .sec2 span ul{display:none;position:absolute;left:0;top:28px;border:1px solid #d9d9d9;width:148px;background:#ffffff;}
.youright .sec2 span ul li{display:block;line-height:24px;text-align:center;cursor:pointer;width:120px;}

.liebiao{margin-top:5px;}
.liebiao ul.dtp li{width:300px;height:290px;display:block;float:left;border:1px solid #d9d9d9;margin:11px 11px;padding:10px;}
.liebiao ul.dtp li:nth-child(3n+1){margin-left:0;}
.liebiao ul.dtp li:nth-child(3n){margin-right:0;}
.liebiao ul.dtp li img.dpin{display:block;width:300px;height:214px;}
.liebiao ul.dtp li h3{font-size:14px;line-height:20px;}
.liebiao ul.dtp li h4{font-size:16px;color:#cb2943;line-height:30px;}
.liebiao ul.dtp li div{width:300px;border:1px solid #d9d9d9;height:22px;line-height:20px;font-size:14px;}
.liebiao ul.dtp li div span {width:94px;border-right:1px solid #d9d9d9;display:inline-block;text-align:center;cursor:pointer;}
.liebiao ul.dtp li div span img{width:14px;height:12px;display:inline-block;margin-right:2px;}
.liebiao ul.dtp li div span:last-child{border:none;color:#cb2943;}
 .fanye {width:100%;margin:0 auto;text-align:center;padding-top:54px;}
 .fanye ul{font-size:0;text-align:center;}
 .fanye ul li{font-size:14px;text-align:center;padding:10px 20px;color:#cb2943;display:inline-block;border:1px solid #d9d9d9;border-right:none;cursor:pointer;}
 .fanye ul li:last-child{border-right:1px solid #d9d9d9;}

.zhu_body{width:100%;height:auto;overflow:hidden;}
.lubiao{width:100%;height:70px;line-height:70px;font-size:15px;color:#000000;}
.lubiao h2{color:#cb2943;font-size:15px;display:inline;}
.zuotiao{width:910px;display:block;float:left;}
.zuotiao li{display:block;width:890px;height:246px;padding:10px;border:1px solid #c9c9c9;border-radius:3px;margin-bottom:20px;position:relative;}
.zuotiao li div.limg{width:502px;height:246px;display:block;float:left;position:relative; font-family:"方正兰亭超细黑简体"; font-weight:bold;}
.zuotiao li div.limg img{width:100%;height:100%;z-index:1; position:relative;}
.zuotiao li div.limg span{position:absolute;z-index:2;display:block;width:100%;height:114px;background:url(../img/fent.png) ;left:0;top:50%;margin-top:-57px;color:#ffffff;text-align:center;}
.zuotiao li div.limg span h1{font-size:33px;line-height:60px;}
.zuotiao li div.limg span h2{font-size:21px;}
.zuotiao li div.limg span h3{font-size:17px;display:block;position:absolute;width:110px;height:24px;line-height:24px;right:6px;bottom:4px;border:2px solid #ffffff;}
.zuotiao li div.limg span h3.shu{border:2px solid #cb2943;background:#cb2943;}
.zuotiao li div.ytext {position:relative;width:350px;height:auto;overflow:hidden;padding-left:30px;padding-top:40px;}
.zuotiao li div.ytext h2{font-size:20px;line-height:30px;}
.zuotiao li div.ytext p{font-size:16px;line-height:28px;}
.zuotiao li  a{display:block;position:absolute;right:25px;bottom:14px;font-size:14px;width:82px;height:22px;line-height:22px;background:#cb2943;color:#ffffff;text-align:center;}

.yout{width:270px;height:auto;display:block;position:relative;float:right;}
.ktit{width:100%;height:40px;line-height:40px;text-align:center;color:#ffffff;font-size:16px;background:#cb2943;}
.dong{padding:15px 5px;width:258px;height:auto;overflow:hidden;border:1px solid #c9c9c9;}
.cai img{display:block;width:258px;height:132px;margin-bottom:10px;}
.cai p{font-size:14px;line-height:26px;}
.yout h2{padding-left:5px;height:40px;line-height:40px;border:1px solid #c9c9c9;border-bottom:1px solid #cb2943;}
.yout h2 img{display:block;float:left;margin-top:10px;margin-right:5px;}
.qiang img{display:block;height:110px;width:110px;margin-right:25px;float:left}
.qiang dd{width:120px;height:auto;font-size:12px;display:block;float:left;}
.qiang dd h3{line-height:40px;display:block;padding-top:15px;}
.qiang span{color:#cb2943;}
.qiang dd a{display:block;width:70px;height:18px;text-align:center;line-height:18px;color:#ffffff;background:#cb2943;margin-top:15px;border-radius:5px;}
.qiang label{display:block;padding:0 15px;margin:0 auto;line-height:24px;border:1px solid #c9c9c9;font-size:12px;margin-top:20px;text-align:center;width:150px;}


.yfanye{width:100%;text-align:right;display:block;position:relative;margin-top:30px;margin-bottom:60px;height:35px;}
.yfanye ul{font-size:0;text-align:right;}
.yfanye ul li,.yfanye ul span{text-align:center;display:inline-block;font-size:16px;margin:0 5px;padding:0 10px;border-radius:3px;border:1px solid #c9c9c9;line-height:30px;cursor:pointer;}
.yfanye ul .dthis{border:1px solid #ffffff;}
.faner{border:1px solid #c9c9c9;position:relative;height:auto;overflow:hidden;}
ul.fan{padding:0 10px;}
ul.fan li{font-size:17px;line-height:42px;text-align:left;border-bottom:1px dashed #c9c9c9;}
ul.fan li:last-child,ul.hang li:last-child{border:none;}
ul.hang li{width:100%;height:50px;border-bottom:1px solid #c9c9c9;}
ul.hang li h5{font-size:26px;color:#cb2943;line-height:50px;display:block;width:36px;float:left;text-align:center;font-family:"Times New Roman", Times, serif;}
ul.hang li span{display:block;line-height:50px;font-size:14px;}
ul.hang li div{display:none;float:left;width:142px;}
ul.hang li div img{width:50px;height:48px;display:block;float:left;}
ul.hang li div h1{font-size:10px;line-height:30px;}
ul.hang li div a{color:#cb2943}
ul.hang li:first-child div{display:block;}
ul.hang li:first-child span{display:none;}
ul.dui{text-align:center;font-size:16px;line-height:30px;}
ul.dui a{font-size:12px;color:#000000;}

.bimg{width:1010px;height:138px;margin-top:8px;margin-bottom:10px;border-radius:10px;border:1px solid #c9c9c9;}
.bimg img{width:1002px;height:130px;display:block;margin:0 auto;margin-top:4px;}

.tjian{border:1px solid #d9d9d9;position:relative;height:auto;overflow:hidden;}
.tjian ul.dtp li{width:290px;height:290px;display:block;float:left;border:1px solid #d9d9d9;margin:12px;padding:10px;}
.tjian ul.dtp li img.dpin{display:block;width:290px;height:214px;}
.tjian ul.dtp li h3{font-size:14px;line-height:20px;}
.tjian ul.dtp li h4{font-size:16px;color:#cb2943;line-height:30px;}
.tjian ul.dtp li div{width:290px;border:1px solid #d9d9d9;height:22px;line-height:20px;font-size:14px;}
.tjian ul.dtp li div span {width:93px;border-right:1px solid #d9d9d9;display:inline-block;text-align:center;cursor:pointer;}
.tjian ul.dtp li div span img{width:12px;height:12px;display:inline-block;margin-right:2px;}
.tjian ul.dtp li div span:last-child{border:none;color:#cb2943;}
.zxin ul li{display:inline-block;margin:0px 6px;line-height:26px;padding:0 10px;border:1px solid #d9d9d9;font-size:14px;border-radius:2px;cursor:pointer;}
.zxin ul li:first-child{margin-left:20px;}
.zxin ul li.dthis{background:#cb2943;border:1px solid #cb2943;color:#ffffff;}
.zxin ul span{display:inline-block;float:right;padding-right:20px;font-size:14px;cursor:pointer;}

.sleft{width:260px;height:auto;display:block;float:left;}
.kuai1{width:100%;border-radius:3px;border:1px solid #d9d9d9;}
.kuai1 .dong{border:none;}
.kuai1 .qiang img{margin-right:10px;}
.kuai1 .qiang dd h3{line-height:30px;padding-top:0;font-size:18px;display:block;position:relative;}
.kuai1 .qiang dd span{display:block;line-height:30px;font-size:14px;}
.kuai1 .qiang dd span img{width:14px;height:12px;display:block;margin-top:10px;margin-right:2px;}
.kuai1 .qiang dd h3.aquan{font-size:12px;line-height:30px;}
.kuai1 .qiang dd h3.aquan em{display:block;width:60px;height:8px;background:#c9c9c9;float:right;margin-top:11px;position:relative;}
.kuai1 .qiang dd h3.aquan em i{position:absolute;width:30%;height:100%;background:#cb2943;}
.sleft li{display:block;line-height:46px;padding-left:33px;font-size:18px;border-bottom:1px solid #c9c9c9;}
.sleft li.ktit{padding-left:0px;}
.sleft li:last-child{border-bottom:none;}

.scenter{margin-left:12px;width:672px;display:block;float:left;}
.ckuai1{border:1px solid #d9d9d9;position:relative;display:block;width:100%;}
.ckuai1 li{padding-left:52px;line-height:60px;font-size:21px;display:block;position:relative;}
.ckuai1 li a,.ckuai1 li span{font-size:14px;}
.ckuai1 li a{color:#000000;display:block;float:right;margin-right:70px;}
.ckuai2 li{border-bottom:1px solid #c9c9c9;height:auto;}
.ckuai2 li:last-child{border:none;}
.ckuai2 li div{padding-top:15px;padding-bottom:10px;width:100px;float:left;}
.ckuai2 li div span{display:block;width:43px;height:43px;border:1px solid #cb2943;border-radius:3px;overflow:hidden;}
.ckuai2 li div span img{width:100%;height:100%;}
.ckuai2 li div b{display:block;margin-top:5px;}
.ckuai2 li div b img{display:inline-block;margin:1px 1px;text-align:center;}
.ckuai2 li h2{display:block;float:left;font-size:18px;width:500px;line-height:30px;padding-top:20px;}
.ckuai2 li h3{display:block;float:left;font-size:14px;width:500px;line-height:20px;}
.ckuai2 li h3 span{display:inline-block;padding-left:30px;}
.ckuai2 .gwei{width:660px;margin:0 auto;height:100px;position:relative; padding-top:25px;}
.ckuai2 .gwei img{width:100%;height:100%;}
.ckuai3{height:auto;overflow:hidden;}
.ckuai3  li a{color:#ffffff;background:#cb2943;width:64px;height:18px;line-height:16px;margin-top:20px;text-align:center;}
.ckuai3 dl{display:block;border:1px solid #c9c9c9;}
.ckuai3 dl dt,.ckuai3 dl dd{text-align:center;display:block;float:left;}
.ckuai3 dl dt img{width:70px;height:auto;padding-left:50px;padding-top:5px;padding-right:20px;}
.ckuai3 dl dd{width:130px;height:80px;margin:0;padding:0;border-right:1px solid #c9c9c9; padding-top:20px;}
.ckuai3 dl dd:last-child{border:none;}
.ckuai4 dl dd{width:150px;height:auto;text-align:center;display:inline-block;padding-top:5px;padding-bottom:10px;}
.ckuai4 dl dd img{display:block;width:auto;height:100px;margin:0 auto;}
.ckuai4 dl dd:first-child{padding-left:50px;}

.sright{width:240px;display:block;float:right;position:relative;}
.sright li{display:block;width:238px;border:1px solid #c9c9c9;line-height:42px;text-align:center;font-size:20px;}
.sright aside{display:block;width:230px;border:1px solid #c9c9c9;padding:4px;height:auto;overflow:hidden;}
.sright aside img{width:230px;height:auto;}
.sright .dong{width:228px;}
.sright .qiang img{margin-right:5px;width:100px;height:100px;}

.shoumi{width:896px;display:block;float:left;height:auto;overflow:hidden;border:1px solid #c9c9c9;margin-left:14px; border-radius:0px 0px 5px 5px;padding-bottom:30px;}
.shoumi li{width:100%;height:52px;background:#e5e5e5;line-height:52px;}
.shoumi li span{display:block;width:185px;color:#ffffff;height:52px;background:#cb2943;text-align:center;font-size:24px;}
.shoumi dl.ddl{padding-left:46px;}
.shoumi dl.ddl dt{font-size:20px;line-height:70px;}
.shoumi dl.ddl dt a{font-size:25px;color:#cb2943;}
.shoumi dl.ddl dd{width:100%;height:auto; line-height:46px;display:block;padding-top:18px;clear:both;z-index:1;}
.shoumi dl.ddl dd span{display:block;float:left;margin-right:10px;font-size:25px;position:relative;}
.shoumi dl.ddl dd span.shd{z-index:5;}
.shoumi dl.ddl dd span:first-child{width:130px;}
.shoumi dl.ddl dd input{width:270px;height:46px;border:1px solid #c9c9c9;}
.shoumi dl.ddl dd textarea{width:550px;height:150px;border:1px solid #c9c9c9; resize:none;}
.shoumi dl.ddl dd span ul{width:150px;height:auto;line-height:40px; font-size:18px; border:1px solid #c9c9c9;text-align:left;position:absolute;z-index:5;left:0;z-index:2;padding-left:15px;background:#ffffff;display:none;}
.shoumi dl.ddl dd span ul li{background:#ffffff;}
.shoumi dl.ddl dd span input.huo{display:block;position:relative;background:url(../img/xl.jpg) no-repeat right center;line-height:40px;height:40px;font-size:18px;padding-left:15px;width:150px;}
.shoumi dl.ddl dd span div{display:inline-block;margin-right:15px;position:relative;}
.shoumi dl.ddl dd.moren a{width:20px;height:20px;border:1px solid #c9c9c9;display:inline-block;margin-right:10px;}
.shoumi dl.ddl dd.moren a i{display:block;margin:0;padding:0;width:15px;height:20px; list-style:none;line-height:20px;display:none;font-size:20px;}
.shoumi dl.ddl dd.cun input{display:block;width:80px;height:30px;background:#cb2943;color:#ffffff;text-align:center;}

.gong{width:896px;display:block;float:left;height:auto;overflow:hidden;border:1px solid #c9c9c9;margin-left:14px;padding-bottom:30px;}
.qiet{width:100%;height:52px;line-height:52px;font-size:22px;color:#cb2943;}
.qietab{width:170px;height:52px;display:block;float:left;text-align:center;}
.jine{padding:38px 0;margin-top:35px;}
.ed{width:250px;border-right:2px solid #c9c9c9;margin-left:180px;padding:15px 0;display:inline-block;}
.jine h1{font-size:21px;line-height:30px;}
.jine h2{font-size:44px;font-weight:bold;}
.jine span{display:block;float:left;padding-left:180px;font-size:20px;line-height:50px;}
.jine h2.cb{display:inline-block;font-weight:bold;margin-left:10px;line-height:50px;}

.gong table.xun{ border-collapse:collapse;margin:16px 0;font-size:17px;}
.gong table.xun th{height:53px; background-color:#e5e5e5;text-align:center;line-height:37px;}
.gong table.xun th span{display:block;width:100%;heihgt:16px;background:#ffffff;line-height:16px;}

.gong table.xun td{border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;line-height:92px; text-align:center;}
.gong table.xun td img{display:block;float:left;margin-right:5px;margin-left:30px;}
.gong table.xun td h2{line-height:25px;text-align:left;}
.gong table.xun td p{line-height:20px;font-size:12px;text-align:left;}
.gong table.xun td.fen{font-size:37px;}

.shai{display:block;width:100%;font-size:20px;margin-top:16px;}
.shai span{display:inline-block;margin-left:20px;cursor:pointer;line-height:30px;}
.shai span.ddthis{color:#cb2943; text-decoration:underline;}
ul.myed{margin-left:150px;margin-top:40px;}
ul.myed label{font-size:18px;}
ul.myed li label:first-child{display:inline-block;width:130px;text-align:right;margin-right:5px;}
ul.myed li{display:block;margin-top:26px;}
ul.myed li:first-child input{width:153px;height:34px;line-height:34px;text-align:center;font-size:18px;}
ul.myed li:nth-child(2) input{width:247px;height:34px;line-height:34px;}
ul.myed li:nth-child(3) span{display:inline-block;margin-right:15px;font-size:16px;font-family:"宋体";padding:5px 15px;border:1px solid #c9c9c9;background-color:#e5e5e5;cursor:pointer;}
ul.myed li:nth-child(3) span.cthis{border:none;background-image:url(../img/kbg.png);background-size:100% 100%;background-color:#ffffff;}
ul.myed li.xgong label.yinh{display:block;float:left;}
ul.myed li.xgong div{display:inline-block;width:500px;height:auto;overflow:hidden;}
ul.myed li.xgong div span{display:block;float:left;margin-rihgt:15px;margin-bottom:30px;}
ul.myed li.xgong div label,ul.myed li.xgong div input,ul.myed li.xgong div img{display:block;float:left;line-height:30px;margin-right:5px;}
ul.myed li.xgong div input{margin-top:10px;}
ul.myed li:last-child input{width:125px;height:50px;background-color:#cb2943;color:#ffffff;cursor:pointer;text-align:center;border:none;}

table.baobei{margin-top:40px;border-collapse:collapse;}
table.baobei td{width:130px;height:auto;padding:20px; overflow:hidden; border-bottom:1px dashed #c9c9c9;}
table.baobei td img{width:130px;display:block;}
table.baobei td h1{display:block;width:130px;position:relative;height:28px;line-height:30px;font-size:14px;color:#cb2943;}
table.baobei td h1 img{width:20px;height:20px;display:block;float:right;margin-top:4px;cursor:pointer;}
table.baobei td p{font-size:12px;line-height:20px;}
table.baobei tr:last-child td{border:none;}

table.jifen{display:block;margin:0 auto;margin-top:60px;}
table.jifen td{position:relative;height:180px;width:320px;border-bottom:30px solid #ffffff;color:#ffffff;} 
table.jifen tr:nth-child(odd) td:first-child{background:#ec4f6a;border-right:34px solid #ffffff;}
table.jifen tr:nth-child(odd) td:last-child{background:#a2c53f;}
table.jifen tr:nth-child(even) td:first-child{background:#81cccd;border-right:34px solid #ffffff;}
table.jifen tr:nth-child(even) td:last-child{background:#faaf40;}
table.jifen td h2{font-size:12px;line-height:24px;margin-bottom:5px;}
table.jifen td p{line-height:16px;font-size:14px;}
table.jifen td h1{margin-top:15px;}
table.jifen td p,table.jifen td h2,table.jifen td h1,table.jifen td span{display:block;padding:0 15px;}
table.jifen td span{float:right;width:76px;height:30px;text-align:center;color:#cb2943;background:#ffffff;line-height:30px;cursor:pointer;paddiing:0;margin-right:15px;margin-top:10px;font-size:20px;}


ul.pingjia{position:relative;width:100%;}
ul.pingjia li{display:block;position:relative;border-bottom:1px dashed #c9c9c9;padding:30px 60px 17px 50px;height:auto;overflow:hidden;}
ul.pingjia li div.l{display:block;float:left;width:130px;margin-right:40px;}
ul.pingjia li div.l img{width:100%;height:auto;}
ul.pingjia li div.l h1{font-size:16px;color:#cb2943;line-height:30px;}
ul.pingjia li div.l p{line-height:16px; white-space:normal;}
ul.pingjia li div.r{display:block;float:right;width:600px;}
ul.pingjia li div.r span{display:inline-block;width:80px;height:24px;font-size:16px;text-align:center;line-height:24px;color:#ffffff;cursor:pointer;background:#b2b2b2;margin-top:10px;}
ul.pingjia li div.r span.jthis{background:#cb2943;}
ul.pingjia li div.r textarea{display:block;clear:both;width:600px;height:140px;margin-top:15px; resize:none;font-size:14px ;text-index:2em;line-height:20px;}
ul.pingjia li div.r input{display:block;float:right;margin-top:15px;width:120px;height:35px;border:none;text-align:center;line-height:35px;background:#cb2943;color:#ffffff;cursor:pointer;font-size:18px;border-radius:5px;}
ul.pingjia li:last-child{border:none;}

table.quan{ border-collapse:collapse;}
table.quan td{width:247px;height:248px;position:relative;border-left:32px solid #ffffff;border-top:32px solid #ffffff;color:#ffffff;}
table.quan td img{width:247px;height:217px;display:block;position:relative;z-index:1;}
table.quan td span{position:absolute;display:block;width:247px;height:80px;left:10px;top:127px;font-size:13px;font-weight:bold;z-index:2;}
table.quan td div{background:url(../img/chu.jpg) no-repeat center;width:80px;height:31px;margin:0 auto;position:relative;}
table.quan td div a{display:block;width:50%;height:100%;position:absolute;top:0;right:0;z-index:2;}
table.quan td div a:first-child{left:0;top:0;}

dl.ldl{margin-top:30px;display:block;width:176px;text-align:center;font-size:22px;float:left;}
dl.ldl dd{padding-top:35px;font-size:18px;line-height:38px;}
dl.ldl dt{padding-bottom:10px;}
dl.ldl dd a{display:block;border:1px solid #cb2943;width:105px;height:38px;margin:0 auto;font-size:22px;}
.ggw{width:100%;height:150px;margin-top:50px;}
.ggw img{width:100%;height:100%;}

ul.rul{margin-top:30px;display:block;border-left:1px solid #c9c9c9;width:660px;font-size:22px;float:right;padding-left:25px;}
ul.rul li:first-child{color:#7c7b7b;padding-bottom:45px;}
ul.rul li:first-child span{padding-right:30px;cursor:pointer;}
ul.rul li{padding-bottom:75px;}
ul.rul li input{display:block;float:left;margin-top:5px;margin-right:10px;}
ul.rul li label{font-size:18px;color:#010000;display:block;float:left;}

.geren{padding-left:32px;font-size:20px;line-height:40px;}
.geren li:first-child{font-size:17px;padding-top:20px;}
.geren li:first-child a{color:#cb2943;font-size:14px;padding-left:25px;}
.geren li:nth-child(2) img{width:80px;height:80px;cursor:pointer;}
.geren li {position:relative;display:block;clear:both;padding-top:22px;}
.geren li label{display:block;float:left;width:136px;height:32px;line-height:32px;text-align:left;margin-right:5px;}
.geren li input{display:block;float:left;width:316px;height:32px;border:1px solid #c9c9c9;}
.geren li:nth-child(5) span{display:block;float:left;}
.geren li:nth-child(5) input{width:10px;height:10px;margin-top:10px;margin-right:10px;}
.geren li:nth-child(5) span label{width:45px;}
.geren li:nth-child(6) div{display:block;float:left;margin-right:12px;position:relative;z-index:5;}
.geren li:nth-child(6) div input{width:120px;height:32px;background:url(../img/xl.jpg) no-repeat center right;background-size:auto 100%;padding-left:20px;font-size:16px;}
.geren li:nth-child(6) div ul{display:block;position:absolute;left:0;top:32px;border:1px solid #c9c9c9;width:120px;padding-left:20px;background:#ffffff;display:none;}
.geren li:nth-child(6) div ul li{margin:0;padding:0;line-height:30px;font-size:16px;}
.geren li:last-child input{ border:none;width:80px;height:36px;color:#ffffff;font-size:18px;text-align:center;line-height:36px;background:#cb2943;cursor:pointer;}

table.tuihuo{ border-collapse:collapse;color:#4c4c4c;font-family:"宋体";font-size:16px;}
table.tuihuo th{height:55px;line-height:55px;color:#ffffff;background:#cb2943;text-align:center;font-size:17px;font-family:"微软雅黑";}
table.tuihuo td{padding:24px;border-bottom:1px solid #c9c9c9;text-align:center;}
table.tuihuo td p{color:#808080;font-size:12px;line-height:18px;}
table.tuihuo td h1{color:#cb2943;line-height:22px;font-size:16px;}
table.tuihuo tr td:nth-child(2){font-size:16px;}
table.tuihuo tr:last-child td{border:none;}

.spin{font-size:15px;padding:36px;}
.spin input{width:290px;height:32px;display:block;float:left;line-height:32px;border:1px solid #c9c9c9;border-right:none;}
.spin label{display:block;float:left;width:80px;height:32px;line-height:32px;text-align:center;color:#333333;cursor:pointer;background:#e5e5e5;border:1px solid #c9c9c9;border-left:none;}
.chazuo div{padding:36px;font-size:18px;}
.chazuo input{display:inline-block;margin-right:10px;}


table.ddan{ border-collapse:collapse;margin-bottom:30px;}
table.ddan th{font-size:17px;height:42px;line-height:42px;background:#e5e5e5;text-align:center;}
table.ddan td{font-size:16px;color:#333333;text-align:center;border-bottom:1px solid #c9c9c9;padding:15px;}
table.ddan td img{display:block;float:left;width:100px;height:auto;}
table.ddan td p{font-size:14px;}

ul.xinwen{display:block;font-size:17px;line-height:26px;}
ul.xinwen li{border:none;}
ul.xinwen li a{color:#000000;}
ul.ullil li{border-bottom:1px solid #c9c9c9;height:54px;line-height:54px;padding-left:20px;font-size:16px;}
ul.ullil li:last-child{border:none;}

.changs li{border:1px solid #c9c9c9;padding:20px 0;text-align:center;}
ul.ullil i{color:#cb2943;display:inline-block;margin-right:10px;}
ul.ullil li label:first-child{width:90px;text-align:left;margin-right:10px;display:inline-block;}
ul.ullil li input{width:164px;height:36px;border:1px solid #c9c9c9;margin-right:10px;display:inline-block;}
ul.ullil li input.qbtn{width:90px;height:25px;line-height:25px;color:#ffffff;background:#cb2943;line-height:25px;cursor:pointer;font-size:16px;}
ul.ullil li:nth-child(7) input{width:25px;height:25px;display:block;margin-top:15px;float:left;margin-left:100px;}
ul.ullil li:nth-child(8){text-align:center;}
ul.ullil li:nth-child(8) input{display:inline-block;width:110px;height:36px;line-height:36px;color:#ffffff;background:#cb2943;font-size:24px;cursor:pointer;}

.bbian{padding:20px 30px;border:1px solid #cb2943;height:auto; overflow:hidden;width:200px;}
.bbian h2{padding:20px 0;text-align:center;border-bottom:1px solid #c9c9c9;font-size:20px;}
.bbian h2 img{width:180px;height:40px;}
.bbian h1{font-size:13px;color:#005aa0;height:40px;line-height:40px;text-align:center;}
.bbian h3{line-height:20px;font-size:14px;color:#000000;}
.bbian span{width:98px;height:30px;background:#cb2943;color:#ffffff;line-height:30px;text-align:center;font-size:16px;display:block;margin:10px;}
.bbian div a{display:inline-block;border:1px solid #c9c9c9;background:#e5e5e5;color:#000000;width:90px;height:24px;line-height:24px;font-size:12px;text-align:center;margin:2px;}

.tjpin{width:100%;padding-top:10px;}
.tjpin dt{font-size:20px;line-height:40px;padding-left:10px;}
.tjpin dd{border:1px solid #c9c9c9;padding-top:40px;text-align:center;}
.tjpin dd img{height:150px;width:auto;}
.tjpin dd h1,.tjpin dd h2{display:block;font-size:16px;}

.xpin{display:block;float:left;width:410px;height:410px;border:1px solid #c9c9c9;margin-right:32px;}
.xpin img{width:100%;height:100%;}
.xyoup{display:block;float:left;}
.xyoup h1{font-size:20px;display:block;line-height:50px;}
.xyoup h2{font-size:20px;color:#cb2943;display:block;}
.xyoup h2 span{display:inline-block;width:90px;height:30px;background:#cb2943;color:#ffffff;cursor:pointer;text-align:center;line-height:30px;margin-left:20px;}

.xyoup h1 div{display:inline-block;border:1px solid #c9c9c9;margin-left:30px;}
.xyoup h1 div input{border:none;display:inline-block;background:#e5e5e5;text-align:center;height:40px;color:#000000;width:52px;}
.xyoup h1 div input:nth-child(2){background:#ffffff;width:75px; outline:none;}
.xyoup li.zhifu{border:1px solid #c9c9c9;background:#e5e5e5;width:330px;height:78px;line-height:37px;margin-top:20px;margin-bottom:30px;}
.xyoup li.zhifu h3{display:block;font-size:17px;border:1px solid #c9c9c9;height:37px;text-align:center;}
.xyoup li.zhifu h2{diaplay:block;float:left;border:1px solid #c9c9c9;height:37px;width:80px;text-align:center;}
.xyoup li.zhifu h3:last-child{diaplay:block;float:left;height:37px;text-align:center;width:246px;}
.xyoup a{display:block;width:164px;height:44px;background:#cb2943;color:#ffffff;cursor:pointer;text-align:center;line-height:44px;margin-left:20px;}

ul.xie li{display:block;border-bottom:1px solid #c9c9c9;text-align:center;}
ul.xie li:last-child{border:none;}


dl.guanp{display:block;position:relative;with:100%;font-size:0;text-align:center;margin-top:50px;}
dl.guanp dt{font-size:21px;line-height:40px;display:block;text-align:left;}
dl.guanp dd{position:relative;display:inline-block;border:1px solid #c9c9c9;padding-top:35px;padding-bottom:10px;text-align:center;width:298px;}
dl.guanp dd img{display:block;height:170px;width:auto;margin:0 auto;}
dl.guanp dd h1{font-size:17px;display:block;}
dl.guanp dd h2{font-size:17px;color:#cb2943;display:block;}















