.idea/*
.DS_Store
Application/Runtime/*
docs/site/*
Application/Common/Conf/reward.php
Application/Common/Conf/debug.php
Application/Common/Conf/develop.php
Application/Common/Conf/production.php
Application/Common/Conf/staging.php
Application/Common/Conf/test.php
Application/Html/*
Application/Cli/Controller/TestController.class.php
Application/Common/Conf/useCoupon.php
Upload/*
app_status.php
phinx.yml
vendor/*
Public/*
vendor.zip
luzy.php
ueditor/*
*.log
robots.txt

