<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>礼遇天下</title>
    <meta name="description" content="礼遇天下" />
    <link href="/static/jifen/css/css.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/jifen/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/jifen/js/js.js"></script>
</head>
<style>
    .zuoleft{position:absolute;top:126px;margin-top:0;background:#ffffff;}
    .zuoleft dt{background:#cb2943;}
    .zuoleft .nav-left dd{display:none;}
</style>
<script>
    $(document).ready(function() {
        $(".zuoleft .nav-left").hover(function(){
            $(this).find("dd").show();
        });
        $(".zuoleft .nav-left").mouseleave(function(){
            $(this).find("dd").hide();
        });
    });
</script>
<body>
<div class="top">
    <a href="index.html" class="logo"><img src=/static/jifen/img/logo.jpg"/></a>
    <ul class="tsec">
        <li class="nth"><a class="ts">全部礼品<b>▼</b></a>
            <ul>
                <li><a href="javascript:void(0);">高端手表</a></li>
                <li><a href="javascript:void(0);">收藏品</a></li>
                <li><a href="javascript:void(0);">精品箱包</a></li>
            </ul>
        </li>
        <li class="nth"><a class="ts">全部积分<b>▼</b></a>
            <ul>
                <li><a href="javascript:void(0);">高端手表</a></li>
                <li><a href="javascript:void(0);">收藏品</a></li>
                <li><a href="javascript:void(0);">精品箱包</a></li>
            </ul>
        </li>
        <li class="nth1"><input type="text" /></li>
        <li class="nth2"><input type="button" value="搜索" /></li>
        <li class="nth3">我的购物车><img src=/static/jifen/img/che.png"/><span>4</span></li>
    </ul>
</div>
<div class="navbar">
    <ul class="nav-right">
        <li><a href="index.html">首页</a></li>
        <li><a href="produce.html">产品中心</a></li>
        <li><a href="xinpintuijian.html">新品推荐</a></li>
        <li><a href="fuli.html">福利专区</a></li>
        <li><a href="kehu.html">客户专区</a></li>
        <li><a href="huangou.html">超值换购</a></li>
        <li><a href="xinyi.html">心仪礼品</a></li>
        <li><a href="action.html">积分活动</a></li>
        <li class="dthis"><a href="huiyuan.html">会员中心</a></li>
    </ul>
</div>
<div class="zuoleft">
    <dl class="nav-left">
        <dt><a href="#">商品分类</a></dt>
        <div class="ddp">
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
        </div>
    </dl>
</div>
<div class="zhu_body">
    <div class="lubiao">您所在的位置：<a href="index.html">首页></a><h2>信息公告</h2></div>
    <div class="sleft">
        <div class="kuai1">
            <ul class="changs">
                <li><img src=/static/jifen/img/qi.jpg" /></li>
                <li><img src=/static/jifen/img/qi.jpg" /></li>
                <li><img src=/static/jifen/img/qi.jpg" /></li>
                <li><img src=/static/jifen/img/qi.jpg" /></li>
            </ul>

        </div>


    </div><!--sleft end-->
    <div class="gong">
        <div class="qiet bc" style="text-align:center;">
            <span class="cf">会员注册信息</span>
        </div>
        <ul class="ullil">
            <form action="/?c=User&a=register" method="post"/>
            <li style="border-bottom:none;"><i>“ *  ”</i>为必填项</li>
            <li><label>会员名：</label><input type="text" name="username" id="yname"/><label><i>*</i>请注意：会员名只能填写数字、字母或下划线！</label></li>
            <li><label>设置密码：</label><input type="password" name="password" id="ypwd"/><label><i>*</i>请填写密码！ 请设置6-20位长度的数字或字母的密码，注意不能含空格！</label></li>
            <li><label>确认密码：</label><input type="password" name="res_password"  id="yfpwd"/><label><i>*</i>请填写确认密码！ 确认密码须与您的设置密码一致！</label></li>
            <li><label>电子邮件：</label><input type="text"  name="email" id="yemail"/><label><i>*</i>请正确填写邮件格式,我们将通过EMAIL地址找回您忘记的密码！</label></li>
            <li><label>绑定手机：</label><input type="text" name="phone" id="yphone"/><label><input type="button" value="点击这里"  class="qbtn"/><i>*</i>请注意：购买产品必须绑定手机，以便收货！</label></li>
            <li><input type="checkbox" id="xieyi"/><label>我已阅读并同意会员注册协议!</label></li>
            <li><input value="确定"  type="submit" /><input value="取消"  type="button"/></li>
            <!--<li><input value="确定"  type="button" onclick="tj();"/><input value="取消"  type="button"/></li>-->
            </form>
        </ul>

    </div><!--gong end-->
    <div class="clear"></div>
    <div class="fanye" style="padding-top:30px;">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>下一页</li>
            <li>末页</li>
        </ul>
    </div>
</div>


<div class="foot">
    <dl>
        <dt>新手上路</dt>
        <dd><a href="#">关于商城</a></dd>
        <dd><a href="#">积分查询</a></dd>
        <dd><a href="#">兑换流程</a></dd>
        <dd><a href="#">规则及条款</a></dd>
    </dl>
    <dl>
        <dt>配送服务</dt>
        <dd><a href="#">配送流程</a></dd>
        <dd><a href="#">配送时限</a></dd>
        <dd><a href="#">签收提醒</a></dd>
        <dd><a href="#">关于订单</a></dd>
    </dl>
    <dl>
        <dt>售后服务</dt>
        <dd><a href="#">常见问题</a></dd>
        <dd><a href="#">退换货政策</a></dd>
        <dd><a href="#">退款说明</a></dd>
    </dl>
    <div>
        服务热线 ：400 - 016 -0026
        <a href="#">联系在线客服</a>
    </div>
</div>
</body>
</html>