<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <link type="text/css" href="/static/jifen/hcss/public.css"  rel="stylesheet"/>
    <link type="text/css" href="/static/jifen/hcss/demo.css"  rel="stylesheet"/>
    <link type="text/css" href="/static/jifen/hcss/easydropdown.css"  rel="stylesheet"/>
    <script src="/static/hjs/jquery.min.js" type="text/javascript"></script>
    <script src="/static/hjs/jquery.easydropdown.js" type="text/javascript"></script>
    <script src="/static/hjs/superslide.js" type="text/javascript"></script>
</head>
<style>
    .zuoleft{position:relative;width:180px;height:auto;margin-top:-70px;z-index:10;}
    .zuoleft .nav-left{position:absolute;left:0;top:0;width:180px;z-index:2}
    .zuoleft .nav-left dt{width:180px;height:70px;font-size:19px;background:#ae152e;border-radius:5px 5px 0px 0px;}
    .zuoleft .nav-left dt a{position:relative;display:block;color:#ffffff;width:180px;text-align:center;height:54px;line-height:54px;padding-top:16px;}
</style>
<body>
<div class="head">
    <img src="/static/jifen/himg/loge.png" />
    <div class="gwc"><P>我的购物车&gt;</P><img src="/static/jifen/himg/gwc.png" />
        <a href="#"><p class="sl">4</p></a>
    </div>
    <div class="inp">
        <fieldset>

            <select tabindex="4" class="dropdown">
                <option value="" class="label" value="">全部礼品</option>
                <option value="1">全部礼品</option>
                <option value="2">全部礼品</option>
                <option value="3">全部礼品</option>
                <option value="4">全部礼品</option>
                <option value="5">全部礼品</option>
                <option value="6">全部礼品</option>
                <option value="7">全部礼品</option>
                <option value="8">全部礼品</option>


            </select>

            <select tabindex="5" class="dropdown" >
                <option value="" class="label">全部积分</option>
                <option value="1">全部积分</option>
                <option value="2">全部积分</option>
                <option value="3">全部积分</option>
                <option value="4">全部积分</option>
                <option value="5">全部积分</option>
                <option value="6">全部积分</option>
                <option value="7">全部积分</option>
                <option value="8">全部积分</option>

            </select>
            <button class="two">搜索</button>
            <input name="" type="text"  class="one"/>

        </fieldset>

    </div>
</div>
<div class="top">

    <div class="nav">
        <ul>
            <a href="index.html"><li class="dthis jj">首页</li></a>
            <a href="produce.html"><li>产品中心</li></a>
            <a href="xinpintuijian.html"><li>新品推荐</li></a>
            <a href="fuli.html"><li>福利专区</li></a>
            <a href="kehu.html"><li>客户专区</li></a>
            <a href="huangou.html"><li>超值换购</li></a>
            <a href="xinyi.html"><li>心仪礼品</li></a>
            <a href="jifen.html"><li>积分活动</li></a>
            <a href="huiyuan.html"><li>会员中心</li></a>
        </ul>
    </div>
</div>
<div class="zuoleft">
    <dl class="nav-left">
        <dt><a href="#">商品分类</a></dt>
        <div class="ddp">
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
            <dd>
                <a class="biao">钟表、箱包<span>▶</span></a>
                <a class="bao">高端手表、精品箱包</a>

                <div>

                    <ul>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">箱包</a></li>
                        <li><a href="#">高端手表</a></li>
                        <li><a href="#">收藏品</a></li>
                        <li><a href="#">精品箱包</a></li>
                    </ul>
                </div>
            </dd>
        </div>
    </dl>
</div>
<div class="maintop">
    <div class="lft">
        <ul>
            <a href="#"><li>
                <div class="sty"><span>钟表、箱包</span><br /> 高端手表、精品箱包</div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span>运动健康</span><br />  户外装备、纤体瑜伽 </div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span>玩具乐器</span><br />  工艺摆件、收藏品  </div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span>手机电脑、数码</span><br />  品牌电脑、数码产品  </div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span>食品保健</span><br />   健康食品、厨具烹饪   </div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span>汽车用品</span><br />   电子电器、内饰精品   </div>

            </li></a>
            <a href="#"><li>
                <div class="sty"><span> 礼包、礼券、服务 </span><br />  礼包、礼券/卡/册   </div>

            </li></a>
        </ul>
    </div>
    <div class="banner">
        <div class="fullSlide">
            <div class="bd">
                <ul>
                    <li style="background: transparent url(/static/jifen/himg/banner.jpg) no-repeat scroll center center; position: absolute; left: 0px; top: 0px; display: none;">
                    </li>
                    <li style="background: transparent url(/static/jifen/himg/banner.jpg) no-repeat scroll center center; position: absolute;   left: 0px; top: 0px; display: none;">
                    </li>
                    <li style="background: transparent url(/static/jifen/himg/banner.jpg) no-repeat scroll center center; position: absolute; left: 0px; top: 0px; display: none;">
                    </li>
                    <li style="background: transparent url(/static/jifen/himg/banner.jpg) no-repeat scroll center center; position: absolute;   left: 0px; top: 0px; display: none;">
                    </li>
                </ul>
            </div>
            <div class="hd"><ul><li class="">1</li><li class="on">2</li><li class="">3</li><li class="">4</li></ul></div>
        </div>
    </div>
    <div class="navrg">
        <p class="xxgg">信息公告</p>
        <p class="zy">＞&nbsp;&nbsp;&nbsp;&nbsp;[重要]&nbsp;关于积分商城2015…</p>
        <p class="zy">＞&nbsp;&nbsp;&nbsp;&nbsp;[重要]&nbsp;积分商城端午为答谢</p>
        <p class="zy">＞&nbsp;&nbsp;&nbsp;&nbsp;积分商城订单复合公告…</p>
        <p class="zy">＞&nbsp;&nbsp;&nbsp;&nbsp;[重要]&nbsp;积分商城春节  …</p>
        <p class="zy">＞&nbsp;&nbsp;&nbsp;&nbsp;[重要]&nbsp;感谢顾客活动 …</p>
        <p class="gd">更多…</p>
    </div>
<?php
if(!session('user.id')){
?>

    <div class="navrgt">
        <form action="/Home?a=login&c=User" method="post">
            <p class="hyzx">会员中心</p>
            <p class="zh">账号<input class="one" id="username" name="username" type="text" value=""   placeholder=" 手机 / 邮箱 / 微信" /></p>
            <p class="zh">密码<input class="one" name="password" id="password" type="password"  value=""  placeholder=" 请输入您的密码" /></p>
            <p class="zd"><input type="checkbox" class="checkbox" name="" value="" id="checkbox" />
                <label for="">自动登陆</label><a href="#"><span>忘记密码</span></a>
            </p>
            <p class="zd qtzhdl">其他账号登陆</p>
            <a href="/Home/?c=user&a=register"><p class="yhzc">用户注册</p></a>
            <div class="tx"><a href="/user/login"><img src="/static/jifen/himg/wb.png" /></a><a href="#"><img src="/static/jifen/himg/wx.png" /></a><a href="#"><img src="/static/jifen/himg/qq.png" /></a></div>
            <!--<a href="/Home/user/login"><p class="dl">登陆</p></a>-->
            <input type="submit" name="登录" onclick="return usercheck()"  class="dl"  value="登陆"/>
        </form>
    </div>



    <?php

} else {

?>

 <p style="float:right;"><a href="/Home/User/logout">退出</a></p>


    <?php

}



?>


</div>
<script type="text/javascript">
var username = null;
var password = null;
function usercheck(){
     username=$('#username').val();
     password=$('#password').val();
    if(username ==  '' ||  password == ''){
        alert('请输入用户名或密码');
        return false;
    }
}



    //$(".fullSlide").hover(function(){
    //    $(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
    //},
    //function(){
    //    $(this).find(".prev,.next").fadeOut()
    //});
    $(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function(i) {
            var curLi = jQuery(".fullSlide .bd li").eq(i);
            if ( !! curLi.attr("_src")) {
                curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
            }
        }
    });

</script>
<script type="text/javascript">
    var t = n =0, count;
    $(document).ready(function(){
        count=$("#banner_list a").length;
        $("#banner_list a:not(:first-child)").hide();
        $("#banner_info").html($("#banner_list a:first-child").find("img").attr('alt'));
        $("#banner_info").click(function(){window.open($("#banner_list a:first-child").attr('href'), "_blank")});
        $("#banner li").click(function() {
            var i = $(this).text() -1;//获取Li元素内的值，即1，2，3，4
            n = i;
            if (i >= count) return;
            $("#banner_info").html($("#banner_list a").eq(i).find("img").attr('alt'));
            $("#banner_info").unbind().click(function(){window.open($("#banner_list a").eq(i).attr('href'), "_blank")})
            $("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(i).fadeIn(1000);
            document.getElementById("banner").style.background="";
            $(this).toggleClass("on");
            $(this).siblings().removeAttr("class");
        });
        t = setInterval("showAuto()", 4000);
        $("#banner").hover(function(){clearInterval(t)}, function(){t = setInterval("showAuto()", 4000);});
    })

    function showAuto()
    {
        n = n >=(count -1) ?0 : ++n;
        $("#banner li").eq(n).trigger('click');
    }

</script>
<div class="mainc">
    <a href="#"><div class="cp"><img src="/static/jifen/himg/dh1.png" /><br /><p></p>万宝龙系列首饰珠宝   市场价： ￥189 <br /><span>￥  0   +1500积分</span></div></a>
    <a href="#"><div class="cp"><img src="/static/jifen/himg/dh2.png" /><br /><p></p>彩色优质随身购物带     市场价 ：￥399 <br /><span>￥  0   +3400积分</span></div></a>
    <a href="#"><div class="cp" style="margin-right:0"><img src="/static/jifen/himg/dh3.png" /><br /><p></p>欧美清新风格壁纸    市场价：$ 800 <br /><span>￥    0    +3000积分</span></div></a>
</div>
<div class="mainb">
    <div class="mainlft">
        <div class="jffl">按积分范围分类</div>
        <div class="jf">
            <div class="jfmain qb"><a href="#">全部积分</a></div>
            <div class="jfmain"><a href="#">0-1000</a></div>
            <div class="jfmain"><a href="#">1001-3000</a></div>
            <div class="jfmain"><a href="#">3001-8000</a></div>
            <div class="jfmain"><a href="#">8001-15000</a></div>
            <div class="jfmain"><a href="#">15001-30000</a></div>
            <div class="jfmain" style="border-bottom:0px"><a href="#">3000以上</a></div>
        </div>
        <div class="jffl" style="margin-top:25px">兑换排行</div>
        <div class="jf" style="height:160px">
            <div class="ph current">
                <b>1</b>
                <div class="sh"><img src="/static/jifen/himg/lp.png" /></div>
                <div class="phb"><a href="chanpinxiangxi.html">飞利浦净水壶</a></div>
                <div class="sxjf"><span>3200</span>积分</div>
            </div>
            <div class="ph ">
                <b>2</b>
                <div class="sh"><img src="/static/jifen/himg/lp.png" /></div>
                <div class="phb"><a href="chanpinxiangxi.html">飞利浦净水壶</a></div>
                <div class="sxjf"><span>3200</span>积分</div>
            </div>
            <div class="ph " style="border-bottom:0px">
                <b>3</b>
                <div class="sh"><img src="/static/jifen/himg/lp.png" /></div>
                <div class="phb"><a href="chanpinxiangxi.html">飞利浦净水壶</a></div>
                <div class="sxjf"><span>3200</span>积分</div>
            </div>

        </div>
        <script type="text/javascript">
            $(function(){


                $(".ph").hover(function(){
                    $(".ph").each(function(){
                        $(this).removeClass("current");
                    });
                    $(this).addClass("current");
                });
            });
        </script>
        <div class="jffl" style="margin-top:25px">扫描二维码</div>
        <div class="jf" style="height:195px">
            <div class="ewm"><img src="/static/jifen/himg/ewm.png" /><br /><span>礼遇天下积分兑换商城</span><br />扫描二维码下载应用</div>
        </div>
    </div>
    <div class="mainrgt">
        <div class="rgttop">
            <div class="xptj">
                <p>新品推荐</p>
                <a href="xinpintuijian.html">查看更多</a>
            </div>
            <div class="xp">
                <ul>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span>17400积分</span></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span>17400积分</span></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span>17400积分</span></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span>17400积分</span></li></a>
                </ul>
            </div>
        </div>
        <div class="rgttop" style="margin-top:25px; height:545px">
            <div class="xptj">
                <p>兑换排行</p>
                <a href="huangou.html">查看更多</a>
            </div>
            <div class="xp">
                <ul>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>
                    <a href="chanpinxiangxi.html"><li><img src="/static/jifen/himg/x1.png" /><br />小巨蛋迷你音响<br /><span class="lj">17400积分</span><p class="ljdh">立即兑换</p></li></a>

                </ul>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="ppzs">
    <div class="pp"><p>品牌展示</p><a href="#">查看更多</a></div>
    <ul>
        <a href="#"><li><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-right:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
        <a href="#"><li style="border-right:0; border-bottom:0"><img src="/static/jifen/himg/cp.png" /></li></a>
    </ul>
</div>
<div class="foot">
    <dl>
        <dt>新手上路</dt>
        <dd><a href="#">关于商城</a></dd>
        <dd><a href="#">积分查询</a></dd>
        <dd><a href="#">兑换流程</a></dd>
        <dd><a href="#">规则及条款</a></dd>
    </dl>
    <dl>
        <dt>配送服务</dt>
        <dd><a href="#">配送流程</a></dd>
        <dd><a href="#">配送时限</a></dd>
        <dd><a href="#">签收提醒</a></dd>
        <dd><a href="#">关于订单</a></dd>
    </dl>
    <dl>
        <dt>售后服务</dt>
        <dd><a href="#">常见问题</a></dd>
        <dd><a href="#">退换货政策</a></dd>
        <dd><a href="#">退款说明</a></dd>
    </dl>
    <div class="lx">
        <p class="ffrx">服务热线 ：400 - 016 -0026</p>
        <p class="lxkf">联系在线客服</p>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".zuoleft .nav-left dd").hover(function(){
            $(this).find("div").show();
            $(this).find("span").hide();
        });
        $(".zuoleft .nav-left dd").mouseleave(function(){
            $(this).find("div").hide();
            $(this).find("span").show();
        });
    });
</script>
</body>
</html>
